*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: NanumGothic;
    src: url(../fonts/NanumGothic-Regular.ttf);
    font-weight: 400;
}
@font-face{
font-family: NanumGothic;
src: url(../fonts/NanumGothic-Bold.ttf);
font-weight: 700;
}
@font-face{
font-family: NanumGothic;
src: url(../fonts/NanumGothic-ExtraBold.ttf);
font-weight: 800;
}
html, body{
    font-family: NanumGothic, sans-serif;
    font-weight: 400;
}
ul li{
    list-style: none;
}
.nl-max{
    width: 100%;
}
.bg-grey{
    background-color: #f2f2f2;
}
.color-red{
    color: #DF0A15;
}
.bold-400{
    font-weight: 400;
}
.bold-700{
    font-weight: 700;
}
.bold-800{
    font-weight: 800;
}
.header-bar{
    position: absolute;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background: #DF0A15;
    top: 0;
    left: 0;
    right: 0;
}
.logo .nl-img-logo{
    margin-top: 5px;
    margin-left: 30px;
    display: block;
}
.menu{
    display: block;
    margin: auto 30px auto auto;
}
.nl-page-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 70px;
    
}
.nl-page-wrapper .contain{
    background-color: #fff;
    padding: 0 9px;
}

.nl-pad-rl-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.nl-p1-sel{
    height: 51px;
    border-radius: 0;
    border: 1px solid #000;
    background-color: #fff;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
}
.nl-p1-sel>p{
    position: relative;
    height: 100%;
    min-width: 106px;
    display: inline-block;
    line-height: 50px;
    padding-left: 38px;
    font-weight: 700;
    color: #6a6a6a;
    font-size: 20px;
}
.nl-p1-sel>p::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 8px;
    border-color:  transparent transparent #000 transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: -2px;
}
.nl-row{
    display: flex;
    flex-wrap: wrap;
}