*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face{
    font-family: NanumGothic;
    src: url(../fonts/NanumGothic-Regular.ttf);
    font-weight: 400;
}
@font-face{
  font-family: NanumGothic;
  src: url(../fonts/NanumGothic-Bold.ttf);
  font-weight: 700;
}
@font-face{
  font-family: NanumGothic;
  src: url(../fonts/NanumGothic-ExtraBold.ttf);
  font-weight: 800;
}
html, body{
    font-family: NanumGothic, sans-serif;
    font-weight: 400;
}
ul li{
    list-style: none;
}
.nl-max{
    width: 100%;
}
.bg-grey{
    background-color: #f2f2f2;
}
.color-red{
    color: #DF0A15;
}
.bold-400{
    font-weight: 400;
}
.bold-700{
    font-weight: 700;
}
.bold-800{
    font-weight: 800;
}
.header-bar{
    position: absolute;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background: #DF0A15;
    top: 0;
    left: 0;
    right: 0;
}
.logo .nl-img-logo{
    margin-top: 5px;
    margin-left: 30px;
    display: block;
}
.menu{
    display: block;
    margin: auto 30px auto auto;
}
.nl-page-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 70px;
    
}
.nl-page-wrapper .contain{
    background-color: #fff;
    padding: 0 9px;
}

.nl-pad-rl-20 {
    padding-left: 20px;
    padding-right: 20px;
}
/* page1 */
.nl-p1-sel{
    height: 51px;
    border-radius: 0;
    border: 1px solid #000;
    background-color: #fff;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
}
.nl-p1-sel>p{
    position: relative;
    height: 100%;
    min-width: 106px;
    display: inline-block;
    line-height: 50px;
    padding-left: 38px;
    font-weight: 700;
    color: #6a6a6a;
    font-size: 20px;
}
.nl-p1-sel>p::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 8px;
    border-color:  transparent transparent #000 transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: -2px;
}
.nl-row{
    display: flex;
    flex-wrap: wrap;
}
.nl-row-p1{
    margin: 29px 0;
    border: 1px solid #000;
    border-radius: 30px;
    border-radius: 30px;
}

.nl-ul-list .nl-li-list{
    border: 1px solid #494949;
    border-radius: 10px;
    padding: 40px 20px;
    background-color: #fff;
    margin: 10px;
}
.nl-col-items-box{
    padding: 0 20px;
    text-align: center;
    width: 30%;
}
.nl-col-items-box .nl-items-box{
    height: 100%;
    max-height: 180px;
    max-width: 100%;
    display: inline-block;
}
.nl-p-line{
    line-height: 20px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}
.nl-icon-list{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.nl-btn-sm-p1{
    margin-left: 20px;
    padding: 5px 10px 7px;
    border-radius: 30px;
    border: 1px solid #c4c4c4;
}
.nl-arrow-right{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 15px;
    top: 2px;
}
.nl-arrow-right:before{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    bottom: 2px;
    right: 0;
    transform: rotate(-45deg);
}
.nl-tile-line-1{
    margin-bottom: 15px;
}
.nl-tile-line-1>h2{
    font-size: 1.125rem;
    margin-left: 20px;
    font-weight: 900;
    line-height: 33px;
}
.nl-frm-p1{
    padding: 5px 22px;
    border-radius: 30px;
    border: 1px solid #c4c4c4;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.nl-frm-p1 span{
    padding-bottom: 2px;
}
.nl-sel-num{
    height: 26px;
    width: 45px;
    font-size: 1rem;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #000;
}
.nl-span-price{
    margin-left: 20px;
}
.nl-col-1{
    position: relative;
    width: 50%;
    text-align: center;
}
.nl-col-1 .nl-img-down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.nl-row3-p1{
    margin-top: 30px;
}
.nl-row3-p1 div p{
    padding: 8px 0;
}
.nl-row3-p1 div p:last-child{
  padding-bottom: 0;
}
.nl-text-3{
    font-size: 1.25rem;
    font-weight: 900;
}

.nl-row-detail{
    width: 36%;
    font-weight: 700;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    padding-left: 20px;
    padding-right: 20px;
}
.nl-row-total-price{
    width: 34%;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}
.nl-row-3-ship-frm{
    width: 100%;
}
.nl-row-3-ship-frm .nl-row .nl-lbl{
    display: block;
    height: 26px;
    margin-bottom: 4px;
}
.nl-row-3-ship-frm .nl-row input{
    display: inline-block;
    padding: 0 5px;
}
.nl-btn-plus-inch{
    width: 100px;
    height: 26px;
    border: 0;
    border-radius: 15px;
    background-color: #dfdfdf;
    margin-bottom: 4px;
}
.nl-row-3-ship-frm  .nl-row .nl-col1{
    width: 62px;
    padding-right: 8px;
}
.nl-row-3-ship-frm  .nl-row .nl-col1 input,
.nl-row-3-ship-frm  .nl-row .nl-col2 input{
    display: inline-block;
    width: 100%;
    height: 30px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
}
.nl-row-3-ship-frm  .nl-row .nl-col1,
.nl-row-3-ship-frm  .nl-row .nl-col2{
    width: 64px;
}
.nl-row-3-ship-frm .nl-col3{
    width: 157px;
}

.nl-row-3-ship-frm .nl-col3-line1{
    text-align: right;
}
.nl-row-3-ship-frm .nl-col3-line2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 17px;
}
.nl-row-3-ship-frm .nl-col3-line2 input{
    width: 64px;
    height: 30px;
    margin-left: 6px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
}
.nl-ul-list-ship{
    margin-top: 34px;
}
.nl-li-list-ship{
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: #494949;
    background-color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}
.nl-btn-x img{
    position: relative;
    top: 1px;
}
.nl-span-val{
    padding-bottom: 2px;
}
.nl-ctn-total-price{
    border-radius: 20px;
    padding: 15px 10px;
}
.nl-ctn-total-price .nl-p-line-1{
    font-weight: 400;
    margin: 5px 5px 32px;
}
.color-blue{
    color: #000699;
}
.nl-bottom-total-price{
    display: flex;
    width: 100%;
    border: 1px solid #000;
    align-items: center;
    justify-content: flex-end;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    padding: 20px 0;
    background-color: #fff;
}
/* .nl-bottom-total-price>span{
    display: inline-block;
    font-weight: 700;
    margin-right: 48px;
    font-size: 1.065rem;
} */

/*page2*/
.nl-tt-has-circle{
    position: relative;
    padding-left: 20px;
    text-transform: uppercase;
}
.nl-tt-has-circle::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.nl-ul-has-list-style li{
    list-style-type: disc;
    list-style-position: inside;
    line-height: 24px;
}
.nl-date-picker-p2{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 1px solid #c4c4c4;
    padding: 0 20px;
}
.nl-ctn-coln{
    position: relative;
    width: 100%;
}
.nl-align-ctn-center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nl-icon-calendar-p2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
}
.nl-bold-700{
    font-weight: 700;
}
.nl-color-white{
    color: #fff;
}
.nl-text-right{
    text-align: right;
}
.nl-bottom-total-price__p2 .nl-col__p2{
  padding: 0 20px;
  text-align: right;
  line-height: 32px;
  font-weight: 800;
}

/*page 3*/
.nl-bor-left{
    border-left: 1px solid #c4c4c4;
}
.nl-col-md-7{
    width: 70%;
}
.nl-p-col-1-p3{
    font-weight: 400;
    padding-left: 21px;
    margin-bottom: 6px;
    font-size: 1,065rem;
}
.nl-ul-col-1-p3{
    margin-top: 10px;
    padding-left: 22px;
}
.nl-ul-col-1-p3 li{
    position: relative;
    line-height: 24px;
    padding-left: 12px;
    font-weight: 300;
}
.nl-ul-col-1-p3 li::after{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.nl-ip-p3{
    height: 40px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #9a9a9a;
}
.nl-col-1-row2-p3{
    width: 38%;
}
.nl-col-2-row2-p3{
    width: 30%;
    padding: 0 10px;
}
.nl-col-3-row2-p3{
    width: 32%;
}
.nl-col-row2-p3 input,
.nl-col-row2-p3 select{
    height: 40px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #9a9a9a;
}
.nl-col-row2-p3 input{
  padding: 0 15px;
}
.nl-col-row2-p3 select{
  padding: 0 12px;
}
.nl-ctn-row2-p3{
    padding-left: 22px;
}
.nl-div-line2-row2-p3{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}
.nl-div-line2-row2-p3 .nl-lbl-2{
    display: inline-block;
    margin-left: 100px;
}
.nl-div-line2-row2-p3 label input{
    display: none;
}
.nl-div-line2-row2-p3 .nl-check-mark{
    top: 2px;
    margin-right: 5px;
}
.nl-check-mark{
    position: relative;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #000;
}
.nl-div-line2-row2-p3 label input:checked ~ .nl-check-mark{
    border: 1px solid #000699;
    background-color: #000699;
}
.nl-div-line2-row2-p3 label input:checked ~ .nl-check-mark::before{
    position: absolute;
    content: "";
    height: 4px;
    width: 8px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    top: 1.5px;
    left: 1px;
}
.nl-p-total-price{
    display: inline-block;
    height: 40px;
    line-height: 38px;
    padding: 0 22px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    border-radius: 20px;
    font-weight: 700;
}
.nl-p-total-price>span:nth-child(2){
    padding: 0 2px;
}
.nl-p-total-price>span:nth-child(4){
    padding: 0 4px;
}
.nl-p-total-price>span:nth-child(5){
    padding-right: 6px;
    
}

.nl-p-line-1-row-p3{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}

.nl-ctn-row2-p3 .nl-ul-col-1-p3{
    padding-left: 0;
    margin-top: 20px;
}

.nl-span-at-bt__p2{
  padding-right: 50px;
  font-weight: 800;
  line-height: 32px;
  font-size: 1.125rem;
}
.nl-ul-list .nl-li-list__p3 .nl-ctn-row2-p3{
  padding-bottom: 10px;
}
@media (min-width: 768px){
    .nl-col-md-8{
        width: 66.6666%;
    }
    .nl-col-md-4{
        width: 33.3333%;
    }
    .nl-text-at-bt__p1 span, .nl-text-at-bt__p2 span, .nl-text-at-bt__p2 a{
      display: inline-block !important;
    }
    .nl-text-at-bt__p2{
      text-align: right;
    }
    .nl-text-at-bt__p1 .nl-text-1{
      padding-left: 50px !important;
    }
    .nl-text-at-bt__p2 .nl-text-4{
      padding-right: 50px !important;
    }
    /*page 3*/
    .nl-span-at-bt__p2{
      padding-right: 50px !important;
    }
}
@media (min-width: 320px){
    .nl-col-sm-12{
        width: 100%;
    }
    /*page 1*/
    .nl-text-at-bt__p1{
      line-height: 24px;
      width: 40%;
    }
    .nl-text-at-bt__p2{
      line-height: 24px;
      width: 60%;
    }
    
    .nl-text-at-bt__p1 span,.nl-text-at-bt__p2 span, .nl-text-at-bt__p2 a{
      display: block;
      line-height: 32px;
    }
    .nl-text-at-bt__p1 .nl-text-1{
      font-weight: 600;
      font-size: 1rem;
      padding-left: 20px;
    }
    .nl-text-at-bt__p1 .nl-text-2{
      font-size: 1.125rem;
      font-weight: 600;
      padding-left: 20px;
    }
    /*page1_0*/
    .nl-text-at-bt__p2 .nl-text-3{
      font-size: 1.125rem;
      font-weight: 800;
      text-align: right;
      padding-right: 20px;
    }
    .nl-text-at-bt__p2 .nl-text-4{
      font-size: 1.25rem;
      font-weight: 800;
      text-align: right;
      padding-right: 20px;
    }

    
    .nl-span-at-bt__p2{
      padding-right: 20px;
    }
}
@media (max-width: 975px){
  body, html{
    font-size: 14px;
  }
  .nl-li-list>div{
    width: 100%;
    padding-bottom: 20px;
    
  }
  .nl-li-list>div:nth-child(1){
    margin-bottom: 20px; 
  }
  .nl-li-list>div:nth-child(1) .nl-items-box{
    max-height: 100px;
  }
  .nl-row-detail{
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .nl-row-total-price{
    padding-left: 0;
    padding-right: 0;
  }
  .nl-row-3-ship-frm .nl-row .nl-col1, .nl-row-3-ship-frm .nl-row .nl-col2{
    width: 20%;
    max-width: 64px;
  }
  .nl-row-3-ship-frm .nl-col3{
    width: 60%;
    max-width: 157px;
  }

  .nl-row-3-ship-frm .nl-col3-line2 input{
    width: 48%;
    max-width: 64px;
  }
  .nl-row-3-ship-frm .nl-col3-line2 input:first-child{
    margin-left: 8px;
  }
  .nl-row3-p1 .nl-col-1{
    width: 50%;
    text-align: center;
  }
  .nl-row3-p1 .nl-col-2{
    width: 50%;
  }
  .nl-ul-list-p2 .nl-li-list{
    padding: 20px 20px 5px;
  }
  .nl-bottom-total-price__p2{
    height: auto;
    flex-wrap: wrap;
  }
  .nl-bottom-total-price__p2 .nl-col__p2{
    width: 100%;
    margin-right: 0;
    text-align: center;
    font-weight: 800;
  }

  .nl-li-list__p3 .nl-bor-left{
    border-left: 0;
  }
  .nl-li-list__p3 .nl-pad-rl-20{
    padding-left: 0;
    padding-right: 0;
  }
  .nl-div-line2-row2-p3 .nl-lbl-2{
    margin-left: 30px;
  }
  .nl-li-list__p3 .nl-tile-line-1>h2{
    margin-left: 0;
  }
  .nl-p-col-1-p3,
  .nl-ul-col-1-p3,
  .nl-ctn-row2-p3{
    padding-left: 0;
  }
  .nl-col-row2-p3{
    width: 100%;
  }
  .nl-col-row2-p3.nl-col-2-row2-p3{
    padding: 10px 0;
  }
  .nl-li-list__p3>div:nth-child(2){
    border-bottom: 0;
  }
  .nl-li-list__p3 .nl-p-total-price span{
    padding: 0;
    font-size: 13px;
  }

}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.a-center{
    align-items: center;
}
.j-between{
    justify-content: space-between;
}
.j-center{
    justify-content: center;
}
.j-end{
    justify-content: flex-end;
}
/* Nhat */
.nvn-bottom{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    line-height: 32px; /*linh edit*/
}
.nvn-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-row .nvn-col-xs-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-xs-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-xs-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-xs-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-xs-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-xs-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-xs-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-xs-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-xs-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-xs-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-xs-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-xs-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 576px) {
    .nvn-row .nvn-col-sm-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-sm-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-sm-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-sm-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-sm-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-sm-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-sm-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-sm-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-sm-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-sm-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-sm-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-sm-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-row .nvn-col-md-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-md-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-md-3 {
      padding-left: 38px;
      width: 244px
    }
    .nvn-row .nvn-col-md-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-md-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-md-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-md-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-md-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-md-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-md-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-md-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-md-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .nvn-row .nvn-col-lg-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-lg-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-lg-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-lg-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-lg-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-lg-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-lg-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-lg-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-lg-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-lg-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-lg-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-lg-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .nvn-row .nvn-col-xl-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-xl-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-xl-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-xl-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-xl-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-xl-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-xl-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-xl-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-xl-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-xl-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-xl-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-xl-12 {
      width: 100%;
    }
  }
  
  .pt-10 {
    padding-top: 10px;
  }
  
  .pt-15 {
    padding-top: 15px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .bold-500 {
    font-weight: 500;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content {
        padding: 0;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content {
      padding-right: 20px;
    }
  }
  
  .nvn-content-left .title {
    margin: 20px 20px 10px 25px;
    font-size: 24px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-left .form .form-group {
      padding: 0 15px;
    }
    .nvn-content-left .form-group_item input{
        width: 65%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-left .form .form-group {
      padding: 0 50px 0 25px;
    }
    .nvn-content-left .form-group_item input{
        width: 100%;
    }
  }
 
  .nvn-content-left .form-group_item {
    padding-right: 25px;
  }
  
  .nvn-content-left .form-group_item label {
    display: block;
    margin: 22px 0px 7px 20px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .nvn-content-left .form-group_item input {
    background-color: white;
    font-weight: bold;
  }
  
  .nvn-content-left .form-group .line {
    border-bottom: 1px solid #494949;
  }
  
  .nvn-content-left .form-group .bt-title {
    padding: 20px 0 10px;
    font-size: 22px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-left .form .rs-right-25 {
      padding-right: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-left .form .rs-right-25 {
      padding-right: 50px;
    }
  }
 
  .nvn-content-left .form .nvn-bt{

    padding-bottom: 25px;
  }
  .nvn-content-left .form .nvn-bt p {
    margin-bottom: 2px;
  
  }
  
  .nvn-content-left .form-action {
    padding-bottom: 25px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-left .form-action {
      padding-right: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-left .form-action {
      padding-right: 50px;
    }
  }
  
  .nvn-content-left .form-action_item {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .nvn-content-left .form-action_item input[type="checkbox"] {
    display: none;
  }
  
  .nvn-content-left .form-action_item label {
    background-color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #9a9a9a;
    cursor: pointer;
  }
  
  .nvn-content-left .form-action_item span {
    padding-left: 10px;
    font-size: 16px;
    line-height: 18px;
    width: calc(100% - 20px);
  }
  

  @media only screen and (min-width:320px){
    .nvn-content-right {
        margin: 20px 0 0;
        padding: 0 10px;
      }
  }  @media only screen and (min-width:768px){
    .nvn-content-right {
        margin: 20px 0 0;
        padding: 0 20px;
      }
  }
  
  .nvn-content-right .gutter {
    border: 1px solid #9a9a9a;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    height: 530px;
  }
  

  @media only screen and (min-width:320px){
    .nvn-page5 .nvn-content-right .gutter.height-535 {
        height: auto;
      }
  }  @media only screen and (min-width:768px){
    .nvn-page5 .nvn-content-right .gutter.height-535 {
        height: 535px;
      }
  }

  .nvn-content-right .bold {
    font-weight: bold;
  }
  
  .nvn-content-right .title {
    padding: 5px 20px 10px;
    border-bottom: 1px solid #9a9a9a;
  }
  
  .nvn-content-right .title h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .nvn-content-right .title a {
    color: #000;
  }
  
  .pt-12{
    padding-top: 12px;
  }
  .nvn-content-right .option {
    padding: 10px 15px;
    font-size: 14px;
  }
  
  .nvn-content-right .option h4.it-title {
    margin-top: 12px;
    font-weight: bold;
    font-size: 17px;
  }
  
  .nvn-content-right .option .option-item {
    margin-bottom: 2px;
  }
  
  .nvn-content-right .option .option-item ul li {
    margin-bottom: 2px;
  }
  
  .nvn-content-right .option .size {
    margin-top: 23px;
  }
  .pt-9{
    padding-top: 9px;
  }
  .pt-6{
    padding-top: 6px;
  }
  .nvn-content-right .option .total {
    margin-top: 38px;
    padding: 10px 0 21px;
    border-bottom: 1px solid #494949;
  }
  
  .nvn-content-right .option .total p {
    font-weight: bold;
    font-size: 15px;
  }
  
  .nvn-content-right .line {
    margin-top: 14px;
    border-bottom: 1px solid #9a9a9a;
  }
  
  .nvn-content-right .final {
    padding: 20px 0 0;
  }
  
  .nvn-content-right .final p {
    font-size: 17px;
    font-weight: bold;
  }
  
  .nvn-content-right .nvn-btn {
    display: block;
    border-radius: 494949px;
    border: none;
    outline: none;
    margin: 48px auto 0;
    padding: 7.5px 0;
    background-color: #000699;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-right .nvn-btn {
      width: 75%;
    }
    .btn-responsive{
        position: absolute;
        bottom: 29px;
        left: 50%;
        transform: translateX(-50%);
    }
    .pd-80{
        position: relative;
        padding-bottom: 80px !important;
       
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-right .nvn-btn {
      width: 400px;
    }
    .btn-responsive{
        position: relative;
        bottom: unset;
        left: unset;
        transform: none;
    }
    .pd-80{
        position: relative;
        padding-bottom: 10px !important;
       
    }
   
  }
  
  .nl-ctn-at-bt.nvn-footer {
    margin-top: 53px;
    height: 40px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    color: white;
  }
  
  .nvn-footer .nvn-middle {
    font-size: 17px;
    font-weight: bold;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-bottom span {
      text-align: center;
      width: 100%;
      font-size: 14px;
      margin-right: 0;
      font-weight: 600;
      background-color: #fff; /*linh edit*/
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-bottom span {
      text-align: left;
      width: auto;
      font-size: 16px;
      margin-right: 50px;
    }
  }
  .bold{
    font-weight: bold;
  }

/* Nhat */
.nvn-title{
    font-size: 23px;
    font-weight: bold;
    padding: 20px 0 30px;
}
.nvn-header{
    height: 50px;
    border-width: 2px 2px 1px 2px; /*linh edit*/
}
.nvn .contain .bg-grey{
    background: transparent;
    border: 1px solid #494949;
    border: none;
    margin-top: 25px;
}

.nvn-page5 .section{
    width: 800px;
    margin: 0 auto;
    padding-bottom: 29px;
}
@media only screen and (min-width:320px){
    .nvn-page5 .section{
        width: 90%;
      
    }
}
@media only screen and (min-width:768px){
    .nvn-page5 .section{
        width: 800px;
      
    }
}
.nvn-border{
    background-color: #f2f2f2;
    padding-bottom: 29px;
    border: 1px solid #494949;
}
.nvn-page5 .nvn-content-right{
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #9a9a9a;
    border-radius: 25px;
    padding: 0 137px;
    width: 100%;
}

@media only screen and (min-width:320px){
    .nvn-page5 .nvn-content-right{
       padding: 0;
      
    }
}
@media only screen and (min-width:768px){
    .nvn-page5 .nvn-content-right{
        padding: 0 137px;
    }
}
.nvn-page5 .section .gutter{

   border: none;
}
.nvn-page5 .section .title{
    padding: 6px 12px 10px 20px;
}
.pt-13{
    padding-top: 13px;
}
.nvn-page5  .nvn-content-right .option .total{
    margin-top: 5px;
    border: none;
}
.nvn-page5  .nvn-content-right .option .line{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
}
.pt-11{
    padding-top: 11px;
}
.nvn-page5 .nvn-content-right .final {
    padding: 13px 0 0;
}
.nvn-page5 .nvn-bt{
    margin: 31px 0px;
}
.nvn-page5 .nvn-bt p{
   margin-top: 2px;
}
.nvn-page5 .bt-title{
    margin-bottom: 9px;
}
.nvn-page5 .nvn-content-right .gutter{
    height: 495px;
}

.nvn-page5 .nvn-btn {
    border-radius: 9999px;
    border: none;
    outline: none;
    background-color: #000699;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    margin: 35px auto 0;
    /* margin: 0 auto; */
   
    display: block;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-border .nvn-btn {
      width: 75%;
    }
  }
  @media only screen and (min-width: 768px) {
    .nvn-border .nvn-btn {
        width: 249px;
    }
  }
  .nvn .nvn-bottom{
      min-height: 50px;
      border-width: 1px 2px 2px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      padding: 20px 0;
      font-size: 1.125rem;
      font-weight: 600;
  }
  .nvn .nvn-footer{
    margin: 10px 0 0;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
  
  }

  .nvn .nl-p1-sel>p::after {
      top: 50%;
  }

  /* login */
  .modal{
    width: 440px;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (min-width:320px){
  .modal{
    width: 90%
  }
  .login-another button{
    width: 90%;
  }
}
@media only screen and (min-width:768px){
   .modal{
    width: 440px;}
    .login-another button{
      width: 72%;
    }
}
.form-title{
  margin: 45px 0 0;
  
}
.form-title img{
  height: 32px;
  margin-right: 14px;
}
.form-title h3{
  font-size: 25px;
  font-weight: 700;
}
.modal .form-group label{
  display: block;
  text-align: left;
  margin: 30px 15px 9px;
  font-size: 16px;
  font-weight: bold;
}
.modal .form-group input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
  padding: 0px 14px 0;
  font-size: 16px;
  outline: none;
}
.modal #remember{
  display: none;
  font-size: 16px;
}
.modal .form-group .remember{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #9a9a9a;
margin: 0 14px 0 0;
}  
.modal .nvn-btn {
display: block;
border-radius: 494949px;
border: none;
outline: none;
margin: 48px auto 0;
padding: 7.5px 0;
background-color: #000699;
color: white;
font-weight: bold;
font-size: 18px;
height: 40px;
}

@media only screen and (min-width: 320px) {
  .modal .nvn-btn {
  width: 75%;
}

}@media only screen and (min-width: 768px) {
  .modal .nvn-btn {
      width: 250px;  
}

}
.login-another button{
  margin: 10px auto;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0 25px;
  font-size: 16px;
  font-weight: bold;
}
.login-another img{
  width: 22px;
}
.login-another span{
 display: block;
 margin-left: 27px;
}
.login-another .kakao{
  background-color: rgb(244, 229, 0);
}
.login-another .google{
  border: 1px solid #9a9a9a ;
  background-color: white;
}

.dont-have{
  font-size: 16px;
  font-weight: 500;
  margin-top: 26px;
  margin-bottom: 29px;
}
a{
  margin-left: 5px;
  color: black;
}

/* sign up */
.half .form .nvn-row {
  margin-left: -12px;
  margin-right: -12px;
}
.half .form .nvn-row .nvn-col-xs-6{
  padding:0 12px;
}
.half .form  .form-group label{
  /* margin-top: 10px; */
}
.half .form .form-group.form-action input{
  width: 20px;height:20px;
  border: 1px solid #9a9a9a;
}
.half .form .form-group.form-action span{
  width: calc(100% - 30px);
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  padding-left: 13px;
}

.half.modal .form-group label{
  display: block;
  text-align: left;
  margin: 36px 15px 8px;
  font-size: 18px;
}
.nvn-content-right_content a{
  text-decoration: none;
   border-bottom: 1px solid black;
}

/* main-concept */
.header-bar .nvn-row{
  width: 100%;
  background-color: white;
  height: 40px;
  margin-top: 2px;
}
.header-icon img{
  height: 15px;
  max-height: 100%;
}
.header-bar .nvn-row .menu img{
  display: block;
  margin-left: auto;
}
.header-bar .nvn-row .logo img{
  display: block;
  margin: 0 auto;
  height: 35px;
  max-height: 100%;
}
.main-concept{
  height: 45px;
}

.nvn .ship{
  margin-top: 83px;
}
.nvn h3.nvn-title{
  text-align: center;
}
@media only screen and (min-width:320px){
  .nvn h3.nvn-title{
    font-size: 41px;
    margin-top: -26px;
    padding-left: 7px;
    margin-bottom: -21px;
  }
  .nvn h3.nvn-title p{
    display: block;
    padding-left: 25px;
  }
  .nvn .ship{
    margin-top: 53px;
  }
  .content-item button{
    font-size: 14px;
  }
}

@media only screen and (min-width:768px){
  .nvn h3.nvn-title{
    font-size: 50px;
    margin-top: -8px;
    padding-left: 24px;
    margin-bottom: 0px;
  }
  .nvn h3.nvn-title p{
    display: inline;
    padding-left: 0;
  }
  .nvn .ship{
    margin-top: 83px;
    padding: 0 2px;
  }
  .content-item button{
    font-size: 16px;
  }
}


.nvn h3.nvn-title span{
  color: #DF0A15;
}
.header-bar .nvn-row .menu-user img{
  margin-right: 10px;
}
.ship .ship-item{
  padding: 0 2px;
  position: relative;
  width: 280px;
  margin: 0 auto;
}
.ship .ship-item .gutter{
  padding: 18px 0px 5px;
  border: 1px solid #DF0A15;
  min-height: 66px;
}


@media only screen and (min-width:320px){
  .ship .ship-item{
    margin: 63px auto;
  }
  .forget-password{
    margin-top: 25px;
    padding-right: 0px;
  }
}

@media only screen and (min-width:768px){
  .ship .ship-item{
    margin: 5px 0;
  }
  .forget-password{
    margin-top: 25px;
    padding-right: 66px;
  }
}
.ship .ship-item .text{
  padding-left: 150px;
  font-size: 16px;
  font-weight: 800;

}
.ship .ship-item p{
  color: #DF0A15;
  
}
.ship .ship-item a{
  color: #DF0A15;
  text-decoration: none;
  margin-left: 0;
}
.ship .ship-item .ship-image img{
  width: 130px;
  height: 130px;
  position: absolute;
  top: -133%;
  left: 33px;
  border-radius: 50%;
  box-shadow: 7px 7px 2px #cccccc;
}
@media (min-width: 320px){
  .container{
    padding: 0 10px;
  }
}
@media (min-width: 768px){
  .container{
    padding: 0 0 30px 75px;
  }
}
.container{
  /* padding-left: 40px; */
}
.nvn .content h3{
  color: #DF0A15;
    font-size: 23px;
    font-weight: 800;
}

.nvn .content .des{
  margin: 18px 0 20px;
    font-weight: 800;
}
.nvn .content .txt{
  font-weight: 600;
  line-height: 21px;
}

@media only screen and (min-width:320px){
  .nvn .content{
    margin: -23px 5px 0;
  }
  .nvn-pl-13-r{
    padding-left: 0;
  }
}
@media only screen and (min-width:768px){
  .nvn .content{
    margin: 28px 5px 0;
  }
  .nvn-pl-13-r{
    padding-left: 13px;
  }
}

.nvn .content-item button{
  outline: none;
  border: none;
  background-color: #333333;
  border-radius: 5px;
  height: 40px;
  color: white;
  margin: 22px 0 44px;
  font-size: 16px;
  text-align: center;
  width: 150px;
  border: 1px solid #000;
}



@media only screen and (min-width:320px){
  .nvn .content-item{
    padding: 0 ;
  }
}
@media only screen and (min-width:768px){
  .nvn .content-item{
    margin-bottom: 40px;
    padding: 0 30px;
  }
}
.nvn .content-item .gutter{
}
.nvn-col-md-3 .actions{
  margin: 30px 0 0 5px;
}
.nvn-col-md-3 .actions .action-item{
  margin-bottom: 10px;
}

@media only screen and (min-width:320px){
  .nvn-col-md-3 .actions .action-item{
    width: 60%;
    margin: 0 auto 10px;
  }
}@media only screen and (min-width:768px){
  .nvn-col-md-3 .actions .action-item{
    width: 100%;
    margin: 0 0 10px;
  }
}

.nvn-col-md-3 .actions .action-item .gutter{
  border-radius: 10px;
  border: 1px solid #000;
  height: 62px;
  padding: 0 16px;
}
.nvn-col-md-3 .actions .action-item img{
  width: 45px;
  height: 40px;
}

.nvn-col-md-3 .actions .action-item p{
  padding-left: 8px;
    font-size: 14px;
    width: calc(100% - 45px);
    font-weight: 800;
}
.nvn-col-md-3 .actions .action-item p span{
  font-weight: 800;
  font-size: 18px;
  display: block;
}
@media (min-width: 768px){
  .nvn-mt-136{
    margin-top: -136px
  }
}
@media (min-width: 320px){
  .nl-col-sm-12{
      width: 100%;
  }
  
}


.main-c-nvn-footer{
  background-color: #DF0A15;
  color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    font-weight: lighter;

}


@media only screen and (min-width:320px){
  .main-c-nvn-footer{
    position: relative;
  }
}

@media only screen and (min-width:768px){
  .main-c-nvn-footer{
    position: absolute;
  }
}

.nl-bt-right-part-p1{
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.nl-bt-right-part-p1 .nl-2{
  padding-right: 50px;
}

/* user-nav page */
.nl-user-nav .nl-user-nav-ctn{
  width: 202px;
}
.nl-user-nav .nl-user-nav-ctn a{
  text-decoration: none;
}
.nl-list-user-nav{
  position: relative;
  width: 100%;
  border: 1px solid #777;
}
.nl-list-user-nav li{
  height: 51px;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
}
.nl-list-user-nav li:last-child{
  border-bottom: 0;
}
.nl-head-user-nav{
  background-color: #FFD600;
}
.nl-head-user-nav .nl-col{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 15px;
}
.nl-head-user-nav .nl-col-1{
  padding-left: 10px;
}
.nl-head-user-nav .nl-col-2{
  justify-content: flex-end;
  padding-right: 10px;
}
.nl-head-user-nav .nl-col img{
  margin-right: 5px;
}
.nl-item-user-nav__link{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}
.nl-item-user-nav__link:hover,
.nl-item-user-nav__link.active{
  background-color: #e6e6e6;
}
.nl-item-user-nav__link>div{
  display: flex;
  height: 100%;
  align-items: center;
}
.nl-item-user-nav__link .nl-ico-part{
  width: 49px;
  padding-left: 15px;
  justify-content: flex-start;
}
.nl-item-user-nav__link .nl-ico-part .nl-icon__1{
  height: 21px;
}
.nl-item-user-nav__link .nl-ico-part .nl-icon__2{
  height: 25px;
}
.nl-item-user-nav__link .nl-ico-part .nl-icon__3{
  height: 21px;
}
.nl-item-user-nav__link .nl-ico-part .nl-icon__4{
  height: 24px;
}
.nl-item-user-nav__link .nl-ico-part .nl-icon__5{
  height: 24px;
}
.nl-item-user-nav__link .nl-name-part{
  width: calc(100% - 40px);
  padding-right: 10px;
}

.nl-container{
  position: relative;
  max-width: 1100px;
  margin: auto;
}
.nl-container-2{
  position: relative;
  max-width: 1152px;
  margin: auto;
}