*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: NanumGothic;
    src: url(/fonts/NanumGothic-Regular.ttf);
}

html, body{
    font-family: NanumGothic, sans-serif;
}
ul li{
    list-style: none;
}


.nl-max{
    width: 100%;
}
.bg-grey{
    background-color: #f2f2f2;
}
.color-red{
    color: #DF0A15;
}
.bold-400{
    font-weight: 400;
}
.bold-700{
    font-weight: 700;
}
.bold-800{
    font-weight: 800;
}
.header-bar{
    position: absolute;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background: #DF0A15;
    top: 0;
    left: 0;
    right: 0;
}
.logo .nl-img-logo{
    margin-top: 5px;
    margin-left: 30px;
    display: block;
}
.menu{
    display: block;
    margin: auto 30px auto auto;
}
.nl-page-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 70px;
    
}
.nl-page-wrapper .contain{
    background-color: #fff;
    padding: 0 15px;
}

.nl-pad-rl-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.nl-p1-sel{
    height: 30px;
    border-radius: 0;
    border: 1px solid #000;
    background-color: #fff;
}
.nl-p1-sel>p{
    position: relative;
    height: 100%;
    min-width: 96px;
    display: inline-block;
    line-height: 28px;
    padding-left: 18px;
}
.nl-p1-sel>p::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 6px;
    border-color:  transparent transparent #000 transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: -5px;
}
.nl-row{
    display: flex;
    flex-wrap: wrap;
}
.nl-row-p1{
    margin-top: 30px;
    border: 1px solid #000;
}

.nl-ul-list .nl-li-list{
    border: 1px solid #494949;
    border-radius: 10px;
    padding: 40px 20px;
    background-color: #fff;
    margin: 10px;
}
.nl-col-items-box{
    padding: 0 20px;
    text-align: center;
    width: 30%;
}
.nl-col-items-box .nl-items-box{
    height: 100%;
    max-height: 180px;
    max-width: 100%;
    display: inline-block;
}
.nl-p-line{
    line-height: 20px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}
.nl-icon-list{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.nl-btn-sm-p1{
    margin-left: 20px;
    padding: 5px 10px 7px;
    border-radius: 30px;
    border: 1px solid #c4c4c4;
}
.nl-arrow-right{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 15px;
    top: 2px;
}
.nl-arrow-right:before{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    bottom: 2px;
    right: 0;
    transform: rotate(-45deg);
}
.nl-tile-line-1{
    margin-bottom: 15px;
}
.nl-tile-line-1>h2{
    font-size: 24px;
    margin-left: 20px;
    font-weight: 800;
    line-height: 33px;
}
.nl-frm-p1{
    padding: 5px 22px;
    border-radius: 30px;
    border: 1px solid #c4c4c4;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.nl-frm-p1 span{
    padding-bottom: 2px;
}
.nl-sel-num{
    height: 26px;
    width: 45px;
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #000;
}
.nl-span-price{
    margin-left: 20px;
}
.nl-col-1{
    position: relative;
    width: 50%;
    text-align: center;
}
.nl-col-1 .nl-img-down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.nl-row3-p1{
    margin-top: 30px;
}
.nl-row3-p1 div p{
    padding: 8px 0;
}
.nl-text-3{
    font-size: 18px;
    font-weight: 800;
}

.nl-row-detail{
    width: 38%;
    font-weight: 700;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}
.nl-row-total-price{
    width: 32%;
    font-weight: 700;
}
.nl-row-3-ship-frm{
    width: 100%;
}
.nl-row-3-ship-frm .nl-row .nl-lbl{
    display: block;
    height: 26px;
    margin-bottom: 4px;
}
.nl-row-3-ship-frm .nl-row input{
    display: inline-block;
    padding: 0 5px;
}
.nl-btn-plus-inch{
    width: 100px;
    height: 26px;
    border: 0;
    border-radius: 15px;
    background-color: #dfdfdf;
    margin-bottom: 4px;
}
.nl-row-3-ship-frm  .nl-row .nl-col1{
    width: 64px;
    padding-right: 10px;
}
.nl-row-3-ship-frm  .nl-row .nl-col1 input,
.nl-row-3-ship-frm  .nl-row .nl-col2 input{
    display: inline-block;
    width: 100%;
    height: 30px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
}
.nl-row-3-ship-frm  .nl-row .nl-col1,
.nl-row-3-ship-frm  .nl-row .nl-col2{
    width: 64px;
}
.nl-row-3-ship-frm .nl-col3{
    width: 157px;
}
.nl-row-3-ship-frm .nl-col3-line1{
    text-align: right;
}
.nl-row-3-ship-frm .nl-col3-line2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 17px;
}
.nl-row-3-ship-frm .nl-col3-line2 input{
    width: 64px;
    height: 30px;
    margin-left: 6px;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
}
.nl-ul-list-ship{
    margin-top: 34px;
}
.nl-li-list-ship{
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: #494949;
    background-color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}
.nl-btn-x img{
    position: relative;
    top: 1px;
}
.nl-span-val{
    padding-bottom: 2px;
}
.nl-ctn-total-price{
    border-radius: 20px;
    padding: 15px 10px;
}
.nl-ctn-total-price .nl-p-line-1{
    font-weight: 400;
    margin: 5px 5px 32px;
}
.color-blue{
    color: #000699;
}
.nl-bottom-total-price{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    text-align: right;
    border: 1px solid #000;
    align-items: center;
    justify-content: flex-end;
}
.nl-bottom-total-price>span{
    display: inline-block;
    font-weight: 700;
    margin-right: 48px;
}
.nl-ctn-at-bt{
    width: 100%;
    height: 58px;
    background-color: #494949;
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nl-ctn-at-bt span,
.nl-ctn-at-bt a{
    color: #fff;
    display: inline-block;
}
.nl-ctn-at-bt span{
    font-weight: 700;
}
.nl-ctn-at-bt .nl-cell{
    width: 33.3333%;
}
.nl-ctn-at-bt .nl-cell:nth-child(1){
    padding-left: 30px;
}
.nl-ctn-at-bt .nl-cell:nth-child(2){
   text-align: center;
}
.nl-ctn-at-bt .nl-cell:nth-child(3){
    text-align: right;
    padding-right: 30px;
}
.nl-ctn-at-bt p span:nth-child(1){
    font-size: 14px;
    font-weight: 400;
 }
.nl-ctn-at-bt p span:nth-child(2){
   margin-left: 25px;
}


/*page2*/
.nl-tt-has-circle{
    position: relative;
    padding-left: 20px;
    text-transform: uppercase;
}
.nl-tt-has-circle::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.nl-ul-has-list-style li{
    list-style-type: disc;
    list-style-position: inside;
    line-height: 24px;
}
.nl-date-picker-p2{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 1px solid #c4c4c4;
    padding: 0 20px;
}
.nl-ctn-coln{
    position: relative;
    width: 100%;
}
.nl-align-ctn-center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nl-icon-calendar-p2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
}
.nl-bold-700{
    font-weight: 700;
}
.nl-color-white{
    color: #fff;
}
.nl-text-right{
    text-align: right;
}
.nl-ctn-at-bt-p2 {
    width: 100%;
    height: 58px;
    background-color: #494949;
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    color: #fff;
}
.nl-ctn-at-bt-p2 span{
    display: inline-block;
    padding-right: 48px;
}

/*page 3*/
.nl-bor-left{
    border-left: 1px solid #c4c4c4;
}
.nl-col-md-7{
    width: 70%;
}
.nl-p-col-1-p3{
    font-weight: 700;
    padding-left: 21px;
    margin-bottom: 6px;
    font-size: 17px;
}
.nl-ul-col-1-p3{
    margin-top: 10px;
    padding-left: 22px;
}
.nl-ul-col-1-p3 li{
    position: relative;
    line-height: 24px;
    padding-left: 12px;
}
.nl-ul-col-1-p3 li::after{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.nl-ip-p3{
    height: 40px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #9a9a9a;
}
.nl-col-1-row2-p3{
    width: 38%;
}
.nl-col-2-row2-p3{
    width: 30%;
    padding: 0 10px;
}
.nl-col-3-row2-p3{
    width: 32%;
}
.nl-col-row2-p3 input,
.nl-col-row2-p3 select{
    height: 40px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #9a9a9a;
}
.nl-col-row2-p3 input{
  padding: 0 15px;
}
.nl-col-row2-p3 select{
  padding: 0 12px;
}
.nl-ctn-row2-p3{
    padding-left: 22px;
}
.nl-div-line2-row2-p3{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}
.nl-div-line2-row2-p3 .nl-lbl-2{
    display: inline-block;
    margin-left: 100px;
}
.nl-div-line2-row2-p3 label input{
    display: none;
}
.nl-div-line2-row2-p3 .nl-check-mark{
    top: 2px;
    margin-right: 5px;
}
.nl-check-mark{
    position: relative;
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #000;
}
.nl-div-line2-row2-p3 label input:checked ~ .nl-check-mark{
    border: 1px solid #000699;
    background-color: #000699;
}
.nl-div-line2-row2-p3 label input:checked ~ .nl-check-mark::before{
    position: absolute;
    content: "";
    height: 4px;
    width: 8px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    top: 1.5px;
    left: 1px;
}
.nl-p-total-price{
    display: inline-block;
    height: 40px;
    line-height: 38px;
    padding: 0 22px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    border-radius: 20px;
    font-weight: 700;
}
.nl-p-total-price>span:nth-child(2){
    padding: 0 2px;
}
.nl-p-total-price>span:nth-child(4){
    padding: 0 4px;
}
.nl-p-total-price>span:nth-child(5){
    padding-right: 6px;
    
}
.nl-p-line-1-row-p3{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}

.nl-ctn-row2-p3 .nl-ul-col-1-p3{
    padding-left: 12px;
    margin-top: 20px;
}
@media (min-width: 768px){
    .nl-col-md-8{
        width: 66.6666%;
    }
    .nl-col-md-4{
        width: 33.3333%;
    }
}
@media (min-width: 320px){
    .nl-col-sm-12{
        width: 100%;
    }
}
@media (max-width: 975px){
  .nl-li-list>div{
    width: 100%;
    padding-bottom: 20px;
    
  }
  .nl-li-list>div:nth-child(1){
    margin-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
  }
  .nl-li-list>div:nth-child(2){
    margin-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
  }
  .nl-row-detail{
    border-left: 0;
    border-right: 0;
  }
  .nl-row-3-ship-frm .nl-col3{
    margin-top: 20px;
  }
  .nl-row-3-ship-frm .nl-col3-line2 input:first-child{
    margin-left: 0;
  }
  .nl-row3-p1 .nl-col-1{
    width: 100%;
    text-align: center;
  }
  .nl-col-1 .nl-img-down{
    position: relative;
    display: inline-block;
  }
  .nl-ctn-at-bt-p1{
    height: auto;
  }
  .nl-ctn-at-bt-p1 .nl-cell:nth-child(1){
    width: 100%;
    text-align: right;
    padding: 20px 20px 5px;
  }
  .nl-ctn-at-bt .nl-cell:nth-child(2) {
    width: 100%;
    text-align: right;
    padding: 5px 20px;
  }
  .nl-ctn-at-bt .nl-cell:nth-child(3){
    padding: 5px 20px 20px;
    width: 100%;
    text-align: right;
  }

  .nl-bottom-total-price__p2{
    height: auto;
  }
  .nl-bottom-total-price__p2{
    padding-top: 10px;
  }
  .nl-bottom-total-price__p2 .nl-col__p2{
    width: 100%;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .nl-ctn-at-bt-p2 span{
    padding: 0 30px;
  }
  .nl-ctn-at-bt-p2 span:nth-child(2){
    text-align: right;
  }

  .nl-li-list__p3 .nl-bor-left{
    border-left: 0;
  }
  .nl-li-list__p3 .nl-pad-rl-20{
    padding-left: 0;
    padding-right: 0;
  }
  .nl-div-line2-row2-p3 .nl-lbl-2{
    margin-left: 30px;
  }
  .nl-li-list__p3 .nl-tile-line-1>h2{
    margin-left: 0;
  }
  .nl-p-col-1-p3,
  .nl-ul-col-1-p3,
  .nl-ctn-row2-p3{
    padding-left: 0;
  }
  .nl-col-row2-p3{
    width: 100%;
  }
  .nl-col-row2-p3.nl-col-2-row2-p3{
    padding: 10px 0;
  }
  .nl-li-list__p3>div:nth-child(2){
    border-bottom: 0;
  }
  .nl-li-list__p3 .nl-p-total-price span{
    padding: 0;
    font-size: 13px;
  }
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.a-center{
    align-items: center;
}
.j-between{
    justify-content: space-between;
}
.j-center{
    justify-content: center;
}
.j-end{
    justify-content: flex-end;
}
/* Nhat */
.nvn-bottom{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
}
.nvn-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-row .nvn-col-xs-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-xs-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-xs-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-xs-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-xs-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-xs-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-xs-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-xs-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-xs-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-xs-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-xs-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-xs-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 576px) {
    .nvn-row .nvn-col-sm-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-sm-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-sm-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-sm-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-sm-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-sm-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-sm-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-sm-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-sm-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-sm-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-sm-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-sm-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-row .nvn-col-md-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-md-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-md-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-md-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-md-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-md-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-md-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-md-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-md-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-md-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-md-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-md-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .nvn-row .nvn-col-lg-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-lg-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-lg-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-lg-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-lg-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-lg-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-lg-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-lg-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-lg-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-lg-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-lg-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-lg-12 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .nvn-row .nvn-col-xl-1 {
      width: 8.33333%;
    }
    .nvn-row .nvn-col-xl-2 {
      width: 16.66667%;
    }
    .nvn-row .nvn-col-xl-3 {
      width: 25%;
    }
    .nvn-row .nvn-col-xl-4 {
      width: 33.33333%;
    }
    .nvn-row .nvn-col-xl-5 {
      width: 41.66667%;
    }
    .nvn-row .nvn-col-xl-6 {
      width: 50%;
    }
    .nvn-row .nvn-col-xl-7 {
      width: 58.33333%;
    }
    .nvn-row .nvn-col-xl-8 {
      width: 66.66667%;
    }
    .nvn-row .nvn-col-xl-9 {
      width: 75%;
    }
    .nvn-row .nvn-col-xl-10 {
      width: 83.33333%;
    }
    .nvn-row .nvn-col-xl-11 {
      width: 91.66667%;
    }
    .nvn-row .nvn-col-xl-12 {
      width: 100%;
    }
  }
  
  .pt-10 {
    padding-top: 10px;
  }
  
  .pt-15 {
    padding-top: 15px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .bold-500 {
    font-weight: 500;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content {
      margin: 0;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content {
      margin-right: 20px;
    }
  }
  
  .nvn-content-left .title {
    margin: 20px 20px 10px 25px;
    font-size: 24px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-left .form-group {
      padding-left: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-left .form-group {
      padding: 0 50px 0 25px;
    }
  }
  
  .nvn-content-left .form-group_item {
    padding-right: 25px;
  }
  
  .nvn-content-left .form-group_item label {
    display: block;
    margin: 22px 0px 7px 20px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .nvn-content-left .form-group_item input {
    background-color: white;
    font-weight: bold;
  }
  
  .nvn-content-left .form-group .line {
    border-bottom: 1px solid #494949;
  }
  
  .nvn-content-left .form-group .bt-title {
    padding: 20px 0 10px;
    font-size: 22px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-left .form .rs-right-25 {
      padding-right: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-left .form .rs-right-25 {
      padding-right: 50px;
    }
  }
  
  .nvn-content-left .form .nvn-bt {
    margin-bottom: 50px;
  }
  
  .nvn-content-left .form .nvn-bt p {
    margin-bottom: 2px;
  }
  
  .nvn-content-left .form-action {
    padding-bottom: 25px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-left .form-action {
      padding-right: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-left .form-action {
      padding-right: 50px;
    }
  }
  
  .nvn-content-left .form-action_item {
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .nvn-content-left .form-action_item input[type="checkbox"] {
    display: none;
  }
  
  .nvn-content-left .form-action_item label {
    background-color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #9a9a9a;
    cursor: pointer;
  }
  
  .nvn-content-left .form-action_item span {
    padding-left: 10px;
    font-size: 16px;
    line-height: 16px;
    width: calc(100% - 20px);
  }
  
  .nvn-content-right {
    margin: 20px 0 60px;
    padding: 0 20px;
  }
  
  .nvn-content-right .gutter {
    border: 1px solid #9a9a9a;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    height: 628px;
  }
  
  .nvn-content-right .bold {
    font-weight: bold;
  }
  
  .nvn-content-right .title {
    padding: 5px 20px 10px;
    border-bottom: 1px solid #9a9a9a;
  }
  
  .nvn-content-right .title h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .nvn-content-right .title a {
    color: #000;
  }
  
  .pt-12{
    padding-top: 12px;
  }
  .nvn-content-right .option {
    padding: 10px 15px;
    font-size: 14px;
  }
  
  .nvn-content-right .option h4.it-title {
    margin-top: 12px;
    font-weight: bold;
    font-size: 17px;
  }
  
  .nvn-content-right .option .option-item {
    margin-bottom: 2px;
  }
  
  .nvn-content-right .option .option-item ul li {
    margin-bottom: 2px;
  }
  
  .nvn-content-right .option .size {
    margin-top: 23px;
  }
  .pt-9{
    padding-top: 9px;
  }
  .pt-6{
    padding-top: 6px;
  }
  .nvn-content-right .option .total {
    margin-top: 38px;
    padding: 10px 0 21px;
    border-bottom: 1px solid #494949;
  }
  
  .nvn-content-right .option .total p {
    font-weight: bold;
    font-size: 15px;
  }
  
  .nvn-content-right .line {
    margin-top: 14px;
    border-bottom: 1px solid #9a9a9a;
  }
  
  .nvn-content-right .final {
    padding: 20px 0 0;
  }
  
  .nvn-content-right .final p {
    font-size: 17px;
    font-weight: bold;
  }
  
  .nvn-content-right .nvn-btn {
    display: block;
    border-radius: 494949px;
    border: none;
    outline: none;
    margin: 48px auto 0;
    padding: 7.5px 0;
    background-color: #000699;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-content-right .nvn-btn {
      width: 75%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-content-right .nvn-btn {
      width: 400px;
    }
  }
  
  .nl-ctn-at-bt.nvn-footer {
    margin-top: 53px;
    height: 40px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    color: white;
  }
  
  .nvn-footer .nvn-middle {
    font-size: 17px;
    font-weight: bold;
  }
  
  @media only screen and (min-width: 320px) {
    .nvn-bottom span {
      text-align: center;
      width: 100%;
      font-size: 14px;
      margin-right: 0;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .nvn-bottom span {
      text-align: left;
      width: auto;
      font-size: 16px;
      margin-right: 50px;
    }
  }
  .bold{
    font-weight: bold;
  }